/* a font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    /* This is for deleting the space between objects so we can move object how we want to*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background: url(./img/Background_paper_HAMERS.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

/* start header section */

header{
    display: flex;
    background: url(./img/Paper_torn1_red.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    background-size: 100% 100%;
  
}



.logo-container{
    flex:1;
}
.logo-container img{
    height: 180px;
    width: 440px;
}
.logo{
    font-weight: 400;
    margin: 5px;
}

nav{
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none ; 
    display: flex;
    align-items: center;
    flex-direction: row;
}
.nav-link{
    text-decoration: none;
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
    color:white;
    
}

.nav-links img{
    height: 180px;
    width: 440px;
}

/* end header section  */



/* start middle section */
.middleContainer{
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    
}

.content1{
    display: block;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-size: 4rem;
}

.content1 p{
    display: inline-block;
    position: relative;
    align-items: center;
    font-size: 2rem;
}

.content1 iframe{
    width: 100%;
}

.latest{
    margin-top:10%;
    margin-left:20%;
    margin-right:20%;
}

/* end middle section */

/* start footer */

.footer{
    display: flex;
    background: url(./img/Footer_image.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    align-items: center;
    background-size: 100% 100%;
    background-position: bottom;
    flex-direction: row;
    
}

.adressAndSocials{
    display: flex;
    flex-direction: column;
}

.big{
    display:flex;
    
}

.adress{
    display: flex;
    color: white;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    font-size:20pt;
}

.adress h1{
    display: block;
    justify-content: space-around;
    align-items: left;
    position: relative;
    font-size: 4rem;
}

.socials{
    display: block;
    justify-content: space-around;
    flex-direction: row;


}

.contentBox{
    display:block;
}

.contact{
    text-decoration: none;
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.footerImages{
    display: flex;
}

.footerImages img{
    height: 180px;
    width: 440px;
}



/* end footer */
